    <h3><%=make_name%> <%=name%></h3>
        
        <center>
        
        <p><%=dollar_amount%></p>

        <img class="car-image" src="/<%=image%>.jpg" width="160">

         <% if (!bought && Permissions.get("canBid")) { %>
           <p style="margin-top:12px;"><button class="btn btn-primary buy">Buy It!</button></p>
         <% } %>

    </center>