<script type="text/underscore-template" id="carTemplate">

	<div class="car">

   		<h3>{{=make_name}} {{=name}}</h3>
		
		<center>
   		
   		<p>{{=price}}</p>

   		<img class="car-image" src="/{{=image}}.jpg" width="160">

   		<p><button class="btn btn-primary bid">Bid</button></p>

   		</center>

   	</div>

</script>